@mixin btn{
    display: block;
    padding: 27px 79px;
    width: 370px;
    background-color: $_button_icon;
    font-family: 'Raleway';
    text-transform: uppercase;
    font-size: $_text_button;
    font-size: 24px;
    font-weight: 900;
    color: $_white;
    margin: auto;
    transition: all .7s ease-out;
    &:hover {
        background-color: $_button_active;
    }
    &:active{
        box-shadow: 0px 0px 30px 0px $_button_icon;
        background-color: $_button_icon;
    }
}

@mixin card_title{
    font-family: 'Raleway';
    font-size: $_card_title;
    font-weight: 900;
    color: $_title_subtitle_color;
    text-transform: uppercase;
    line-height: 21px;
    margin: auto;
    text-align: center;
    margin-bottom: 43px;
}

@mixin card_subtitle{
    font-family: 'Raleway';
    font-size: $_title_subtitle;
    font-weight: 400;
    color: $_desc_card;
    line-height: 16px;
    text-align: center;
}

@mixin img_icon{
    display: block;
    width: 39px;
    aspect-ratio: 1/1;
    overflow: hidden;
    position: relative;
    transition: opacity .4s ease-out;
    &:hover{
        transform: scale(1.1);
    }
    &:active{
        transform: scale(0.95);
    }
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        position: absolute;
        top: 0;
        left: 0;
    }
}