@mixin btn{
    display: block;
    padding: 27px 79px;
    width: 370px;
    background-color: $_button_icon;
    font-family: 'Raleway';
    text-transform: uppercase;
    font-size: $_text_button;
    font-size: 24px;
    font-weight: 900;
    color: $_white;
    margin: auto;
    transition: all .7s ease-out;
    &:hover {
        background-color: $_button_active;
    }
    &:active{
        box-shadow: 0px 0px 30px 0px $_button_icon;
        background-color: $_button_icon;
    }
}