// Colors
$_white: #FFFFFF;
$_button_icon: #FF4343;
$_button_active: #E71414;
$_title_subtitle: #2D3033;
$_menu_slide: #5C3249;
$_footer: #353C65;
$_light_grey: #656980;
$_desc_card: #6C7279;
$_line: #BABBC5;
$social_media: #C6CBCD;

// Font size
$_main_title: 4rem; 
$_navigation_panel: 0.8125rem;
$_card_title: 1.5rem;
$_title_slide: 2.25rem;
$_subtitle_slide: 0.8125rem;
$_title_subtitle: 1.125rem;
$_text_button: 1.5rem;
// $_text_button_tablet: 1.125rem;
$_download_title: 1.875rem; 
// $_download_title_tablet: 1.5rem;
// $_download_title_mobile: 1.1125rem;
$_footer_title_desc: 1.125rem;
