@import './variables';
@import './fonts';
@import './mixins';
@import './gallery.scss';
@import './people.scss';
@import './download.scss';

*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

.container{
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
    position: relative;
    z-index: 1;
    @media (max-width: 1200px) { 
        max-width: 970px;
    }
    @media (max-width: 992px) {
        max-width: 750px;
    }
    @media (max-width: 767px) {
        max-width: 100%;
    }
    @media (max-width: 575px) {
        max-width: 100%;
    }
    @media (max-width: 320px) {
        max-width: 100%;
    }
}